<p>todo-list works!</p>

<mat-accordion>
  @for (todo of todos(); track todo.id) {
    <mat-expansion-panel [expanded]="todo.expanded" (opened)="toggleExpand(todo)" (closed)="toggleExpand(todo)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ todo.title }}
        </mat-panel-title>
        <mat-panel-description>
          <span class="todo-type">Type: {{ todo.type }}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="todo-details">
        <p>{{ todo.description }}</p>
        <button mat-button color="primary" (click)="toggleExpand(todo)">
          {{ todo.expanded ? 'Collapse' : 'Expand' }}
        </button>
      </div>
    </mat-expansion-panel>
  }
</mat-accordion>
